{% extends "layout.html" %}
{% import "macros.html" as m %}

{% block head %}
    {{ super() }}
    <!-- Leaflet JS -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <!-- Leaflet CSS -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
{% endblock %}

{% block content %}

    {{ m.map() }}

    <script type="text/javascript">

    function refresh_requesters() {
        $.ajax({
            type: 'POST',
            async: true,
            url: '/api/getInNeedRequester'
        }).done(function (response) {
            console.log(response);
            var requesters = response.requesters;
            if (requesters.length > 0) {
                clearMarkers();
            }
            for (var requester in requesters) {
                placeMarker(map, requester);
            }
        })
    }

    window.setInterval(function(){
        refresh_requesters();
    }, 10000);
    refresh_requesters();
    </script>

{% endblock %}